
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links{
    display: flex;
    gap: 3rem;
    list-style: none;
}
.links a{
    text-decoration: none;
    color: black;
}
.logo-container{
    width: 135px;
    height: 82px;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
.home-link{
    font-weight: bold ;
}

/* shared css */
#light-link{
    color: rgba(137, 135, 161, 1);
}
.light-font{
    color: rgba(0, 0, 0, 0.5);
}
.primary-color{
    color: rgba(233, 90, 8, 1);
}
.plants-button{
    background-color: rgba(233, 90, 8, 1);
    color: white;
}
.plants-description h3{
    font-size: 50px;
    font-weight: bold;
}
.plants-description p{
    font-size: 22px;
}
/* shared css */

.hero-container{
    display: flex;
    align-items: end;
    margin-top: 120px;
    margin-bottom: 120px;
}
.hero-description{
    width: 570px;
    
}
.hero-title{
    font-size: 65px;
}
.hero-description p{
    font-size: 22px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.plants-container{
    text-align: center;
    margin-bottom: 210px;
}
.plants-container h3{
    margin: 0px;
}

.plant-images-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.plant-images-container button{
    font-weight: 600;
}
.plant-images-container img{
    width: 100%;
}
.plant button{
    width: 100%;
    height: 40px;
    border-radius: 0px;
    border: none;
}
.plant p{
    font-size: 22;
    
}
.plants-description p{
    margin:16px 126px 49px 126px;
}
.plant p .price{
    font-weight: bold;
}


.plants-lover{
    display: flex;
    margin-bottom: 133px;
}
.plants-lover .batch{
    height: 268px;
    width: 286px;
    position: relative;
    margin-top: -120px;
    margin-left: -190px;
}
.plants-lover .batch img{
    width: 100%;
}
.plant-image{
    width: 540px;
    height: 597px;

}
.plant-image img{
   height: 100%;
   width: 100%;
}
.plant-lover-description{
    max-width: 540px;
    margin: 38px 0px;
}

.plant-lover-description li{
    margin: 20px 0px;
}
.plant-lover-description h3{
    font-size: 50px;
    font-weight: bold;
    max-width: 430px;

}
.plant-lover-description li{
    font-size: 22px;
}


.deals-container{
    text-align: center;
    margin-bottom: 120px;
}
.deals-container p{
    font-size: 22px;
    max-width: 888px;
    margin: 0 auto;
}
.deals-container h3{
    font-size: 50px;
    font-weight: bold;
    margin:0;
    margin-bottom: 16px;
}


.collage-images{
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-bottom: 120px;
}

.vertical-image-container{
    max-width: 367px;
    height: 423px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.vertical-image1{
    background-image:
    linear-gradient( rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
    url("../assets/deal-bloom.png");
    width: 100%;
    height:calc((100% - 10px)/2);
    border-radius: 14px;
    display: flex;
    align-items: center;
    width: 367px;
}
.card-img{
    color: white;
    font-size: 20;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
.normal{
    font-size: 16px;
    font-weight: 600;
}
.vertical-image2{
    background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../assets/deal-ana.png");
    width: 100%;
    height:calc((100% - 10px)/2);
    border-radius: 14px;
    display: flex;
    align-items: center;
    width: 367px;
}
.vertical-image2 p{
    color: white;
    margin: 0 auto;
    text-align: center;
}

.span-image-container{
    width: 753px;
    max-height: 423px;
}
.span-image{
    background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../assets/deal-zabo.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    
    
}
.span-image-container .span-image{
   display: flex;
   justify-content: center;
   align-items: center;
}
.span-image p{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.span-normal{
    font-size: 28px;
    font-weight: 600;
}


.search-container{
    background-image: 
    linear-gradient(rgba(7, 51, 79, 0.4),rgba(7, 51, 79, 0.4)),
    url("../assets/news-letter-bg.png");
    height: 533px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: flex;
    gap: 0;
}
.search-container .search-title h3{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.input-container button{
    border: none;
    width: 11rem;
    font-weight: 600;
    color: white;
    background-color: rgba(233, 90, 8, 1);
}
.input-container input{
    border: none;
    width: 40rem;
    height: 50px;
}

@media screen and (max-width:576px){
    /* header section */
    .vanish{
        display: none;
    }
    header{
        width: 100%;
    }
    nav{
        margin: 13px 16px 28px 16px;
    }
    .logo-container{
    width: 63px;
    height: 38px;
}
    .hero-container{
        flex-direction: column-reverse;
        align-items: normal;
        margin-bottom: 1px;
    }
    .hero-container img{
        width: 100%;
    }
    .hero-title{
        font-size: 24px;
    }
    .hero-description{
        width: 100%;
        text-align: start;
        margin-bottom: 65px;
    }
    .plants-container{
        margin-bottom: 41px;
    }

    .plant-images-container{
        grid-template-columns: repeat(2,1fr);
    }
    .plants-description p{
    margin:16px 28px 28px 28px;
    }

    .plants-lover{
        flex-direction: column;
    }
    .plant-image{
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
    .plant-lover-description{
        width: 100%;
        margin: 0 auto;
        margin-top: 18px;
    }
    .plant-lover-description h3{
        font-size: 24px;
        margin: 0;
        position: relative;
        margin-left: 15px;
        
    }
    .plant-lover-description li{
        font-size: 14px;
    }
    .collage-images{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin: 0;
         width: 100%;
         margin-bottom: 40px;
    }

    .vertical-image-container{
        height: auto;
        width: 100%;
        margin: 0;
    }
    .span-image-container{
        width: auto;
    }
    

    .vertical-image1,.vertical-image2{
        height: 184px;
        width: 100%;
    }
    .span-image{
        height: 172px;
        width: 367px;
    }
    .vertical-image1 img{
        height: 100%;
        width: 100%;
    }
    .span-image p{
        font-size: 20px;
    }
    .span-image .span-normal{
        font-size: 16px;
    }
    .search-container{
        height: 275px;
    }
    .search-container .search-title h3{
        font-size: 20px;
        font-weight: bold;
    }
    .search-container .input-container input{
        width: 218px;
    }
    .search-container .input-container button{
        width: 103px;
    }
}